<ion-header>
  <ion-toolbar>
    <ion-title>Auth</ion-title>
    <div text-center>
      <ion-spinner color="primary" *ngIf="isLoading"></ion-spinner>
  </div> 
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form #f="ngForm" (ngSubmit)=" onSubmit(f)" method="post"> 
      <ion-grid>
          <ion-row>
            <ion-col size-sm="6" offset-sm="3">
                <ion-list>
                    <ion-item>
                      <ion-label position="floating">
                        Email:
                      </ion-label>
                      <ion-input 
                      type="email"
                      ngModel
                      name="email"
                      required
                      #userCtrl="ngModel"
                      ></ion-input>
                    
                      
                    </ion-item>
                    <ion-item *ngIf="!userCtrl.valid && userCtrl.touched" lines="none">
                        
                      <ion-label>
                        Should be valid user name
                      </ion-label>
                    </ion-item>
                    <ion-item>
                      <ion-label position="floating">Password</ion-label>
                      <ion-input 
                      type="password"
                      ngModel
                      name="password"
                      required
                      minlength="3"
                      #passwordCtrl="ngModel"
                      ></ion-input>
                    </ion-item>
                    <ion-item *ngIf="!passwordCtrl.valid && passwordCtrl.touched" lines="none">
                        
                      <ion-label>
                        Should be least be 6 characters long
                      </ion-label>
                    </ion-item>
                  </ion-list>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size-sm="6" offset-sm="3">
                <ion-button color="primary" type="submit" expand="block" [disabled]="!f.valid">
                    Login
                  </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
  </form>
 


  

</ion-content>
