<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button menu="m1"></ion-menu-button>
        </ion-buttons>
    <ion-title>current-salary</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
    <ion-grid>

        <ion-row text-center>
            <ion-card>
                <ion-item>
                  <ion-icon name="logo-usd" slot="start"></ion-icon>
                  <ion-label>2019-6-1  to  2019-6-30</ion-label>
                  <ion-item class="salary"  [routerLink]="['/salary/tabs/', 'Home', loadedSalary[0].id]" detail>   <!--route to the salary datails page -->
            
                    <ion-label color="primary">
                      view
                    </ion-label>
                  </ion-item>
                </ion-item>
              
                <ion-card-content >
                    <ion-label>Rs:</ion-label>
                    <ion-title >{{loadedSalary[0].basicSalary}} /=</ion-title>
                </ion-card-content>
              </ion-card>
              
      
       
        </ion-row>
       
   
       
        <ion-row text-center>
       
            <ion-card>
                <ion-card-header>
            
                  <ion-card-title>Today Events</ion-card-title>
                </ion-card-header>
              
                <ion-card-content>
                   
                    <ion-list class="list" *ngFor="let event of loadeEvent">
                        <ion-item  class="activated" *ngIf="event.startTime.toDateString() == CurrentDate.toDateString()">
                            <ion-icon name="information-circle" slot="start"></ion-icon>
                            <!-- <ion-label >{{event.desc}}</ion-label>
                            <ion-label >{{  CurrentDate }}</ion-label> -->
                            <ion-list>
                                <ion-item>
                                    <ion-label>Event: {{event.desc}}</ion-label>
                                  </ion-item>
                                  <ion-item>
                                      <ion-label>Date:{{  CurrentDate.toDateString() }}</ion-label>
                                    </ion-item>
                            </ion-list>
                           
                          </ion-item>
                    </ion-list>
                       
                   
                       
                    
                </ion-card-content>
              </ion-card>
              
       
       
        </ion-row>
       
       </ion-grid>
   
    
</ion-content>
